# sonar scanner work folder
**/.scannerwork/**

# binaries
**/bin/**

# obj
**/obj/**

# sonarqube internals
**/.sonarqube/**

# visual studio
**/.vs/**

# java libs
src/java/lib/**

# java build output
src/java/target/**
